Repository elastic/endpoint-package, pull requests merged in 2023-10, with the labels that each got.

#435 additional process callstack custom_documentation fields
  custom_documentation/doc/endpoint/process/windows/windows_process_create.md
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_create.yaml
Labels: documentation, v8.10.3

#437 Backport `custom_documentation` #435 to 8.10.3
  custom_documentation/endpoint/data_stream/process/windows/windows_process_create.yaml
  package/endpoint/docs/custom_documentation/process/windows/windows_process_create.md
  package/endpoint/manifest.yml
Labels: documentation, v8.10.3

#438 [8.10 BACKPORT] add more missing custom_documentation fields (#430)
  custom_documentation/endpoint/data_stream/alerts/macos/macos_malicious_behavior_alert.yaml
  custom_documentation/endpoint/data_stream/file/macos/macos_file_delete.yaml
  custom_documentation/endpoint/data_stream/file/macos/macos_file_extended_attributes_delete.yaml
  custom_documentation/endpoint/data_stream/file/macos/macos_file_launch_daemon.yaml
  custom_documentation/endpoint/data_stream/file/macos/macos_file_modification.yaml
  custom_documentation/endpoint/data_stream/file/macos/macos_file_mount.yaml
  custom_documentation/endpoint/data_stream/file/macos/macos_file_rename.yaml
  custom_documentation/endpoint/data_stream/process/linux/linux_process_fork.yaml
  package/endpoint/docs/custom_documentation/alerts/macos/macos_malicious_behavior_alert.md
  package/endpoint/docs/custom_documentation/file/macos/macos_file_delete.md
  package/endpoint/docs/custom_documentation/file/macos/macos_file_extended_attributes_delete.md
  package/endpoint/docs/custom_documentation/file/macos/macos_file_launch_daemon.md
  package/endpoint/docs/custom_documentation/file/macos/macos_file_modification.md
  package/endpoint/docs/custom_documentation/file/macos/macos_file_mount.md
  package/endpoint/docs/custom_documentation/file/macos/macos_file_rename.md
  package/endpoint/docs/custom_documentation/process/linux/linux_process_fork.md
Labels: documentation, v8.10.3

#439 add all custom_documentation from main into 8.10
  custom_documentation/endpoint/data_stream/alerts/windows/windows_malware_alert.yaml
  custom_documentation/endpoint/data_stream/file/windows/windows_file_rename.yaml
  custom_documentation/endpoint/data_stream/metadata/metadata.yaml
  custom_documentation/endpoint/data_stream/metrics/metrics.yaml
  custom_documentation/endpoint/data_stream/policy/policy_response.yaml
  custom_documentation/endpoint/data_stream/process/linux/linux_process_already_running.yaml
  custom_documentation/endpoint/data_stream/process/linux/linux_process_exec.yaml
  custom_documentation/endpoint/data_stream/process/linux/linux_process_exit.yaml
  custom_documentation/endpoint/data_stream/process/linux/linux_process_fork.yaml
  custom_documentation/endpoint/data_stream/process/linux/linux_process_gid_change.yaml
  custom_documentation/endpoint/data_stream/process/linux/linux_process_session_id_change.yaml
  custom_documentation/endpoint/data_stream/process/linux/linux_process_text_output.yaml
  custom_documentation/endpoint/data_stream/process/linux/linux_process_uid_change.yaml
  package/endpoint/docs/custom_documentation/alerts/windows/windows_malware_alert.md
  package/endpoint/docs/custom_documentation/file/windows/windows_file_rename.md
  package/endpoint/docs/custom_documentation/metadata/metadata.md
  package/endpoint/docs/custom_documentation/metrics/metrics.md
  package/endpoint/docs/custom_documentation/policy/policy_response.md
  package/endpoint/docs/custom_documentation/process/linux/linux_process_already_running.md
  package/endpoint/docs/custom_documentation/process/linux/linux_process_exec.md
  package/endpoint/docs/custom_documentation/process/linux/linux_process_exit.md
  package/endpoint/docs/custom_documentation/process/linux/linux_process_fork.md
  package/endpoint/docs/custom_documentation/process/linux/linux_process_gid_change.md
  package/endpoint/docs/custom_documentation/process/linux/linux_process_session_id_change.md
  package/endpoint/docs/custom_documentation/process/linux/linux_process_text_output.md
  package/endpoint/docs/custom_documentation/process/linux/linux_process_uid_change.md
Labels: backport

#440 artifacts manifest update age, snapshot date
  custom_schemas/custom_endpoint.yml
  package/endpoint/data_stream/alerts/fields/fields.yml
  package/endpoint/data_stream/alerts/sample_event.json
  package/endpoint/data_stream/policy/fields/fields.yml
  package/endpoint/data_stream/policy/sample_event.json
  schemas/v1/alerts/malware_event.yaml
  schemas/v1/alerts/memory_protection_event.yaml
  schemas/v1/alerts/ransomware_event.yaml
  schemas/v1/policy/policy.yaml
Labels: v8.11.0

#418 Revert "Revert "Transform schema v2 (#270)" (#411)"
  package/endpoint/elasticsearch/index_template/metrics-metadata-current.json
  package/endpoint/elasticsearch/index_template/metrics-metadata-united.json
  package/endpoint/elasticsearch/transform/metadata_current/default.json
  package/endpoint/elasticsearch/transform/metadata_current/fields/fields.yml
  package/endpoint/elasticsearch/transform/metadata_current/manifest.yml
  package/endpoint/elasticsearch/transform/metadata_current/transform.yml
  package/endpoint/elasticsearch/transform/metadata_united/default.json
  package/endpoint/elasticsearch/transform/metadata_united/fields/fields.yml
  package/endpoint/elasticsearch/transform/metadata_united/manifest.yml
  package/endpoint/elasticsearch/transform/metadata_united/transform.yml
Labels: transform, 8.11-candidate
