Repository elastic/endpoint-package, pull requests merged in 2024-04, with the labels that each got.

#490 HWBP => Production
  custom_subsets/elastic_endpoint/file/file.yaml
  custom_subsets/elastic_endpoint/library/library.yaml
  custom_subsets/elastic_endpoint/process/process.yaml
  custom_subsets/elastic_endpoint/registry/registry.yaml
  package/endpoint/data_stream/file/fields/fields.yml
  package/endpoint/data_stream/file/sample_event.json
  package/endpoint/data_stream/library/fields/fields.yml
  package/endpoint/data_stream/library/sample_event.json
  package/endpoint/data_stream/process/fields/fields.yml
  package/endpoint/data_stream/process/sample_event.json
  package/endpoint/data_stream/registry/fields/fields.yml
  package/endpoint/data_stream/registry/sample_event.json
  package/endpoint/docs/README.md
  schemas/v1/file/file.yaml
  schemas/v1/library/library.yaml
  schemas/v1/process/process.yaml
  schemas/v1/registry/registry.yaml
Labels: v8.14.0

#497 8.14 update custom documentation
  custom_documentation/doc/endpoint/alerts/windows/windows_malicious_behavior_alert.md
  custom_documentation/doc/endpoint/alerts/windows/windows_memory_threat_alert.md
  custom_documentation/doc/endpoint/file/linux/linux_file_create.md
  custom_documentation/doc/endpoint/file/linux/linux_file_delete.md
  custom_documentation/doc/endpoint/file/linux/linux_file_rename.md
  custom_documentation/doc/endpoint/file/macos/macos_file_delete.md
  custom_documentation/doc/endpoint/file/macos/macos_file_modification.md
  custom_documentation/doc/endpoint/file/macos/macos_file_rename.md
  custom_documentation/doc/endpoint/file/windows/windows_file_create.md
  custom_documentation/doc/endpoint/file/windows/windows_file_delete.md
  custom_documentation/doc/endpoint/file/windows/windows_file_rename.md
  custom_documentation/doc/endpoint/metrics/metrics.md
  custom_documentation/doc/endpoint/network/linux/linux_network_connection_accepted.md
  custom_documentation/doc/endpoint/network/linux/linux_network_connection_attempt.md
  custom_documentation/doc/endpoint/network/linux/linux_network_disconnect.md
  custom_documentation/doc/endpoint/network/macos/macos_network_connection_attempted.md
  custom_documentation/doc/endpoint/network/macos/macos_network_disconnect_received.md
  custom_documentation/doc/endpoint/process/linux/linux_process_already_running.md
  custom_documentation/doc/endpoint/process/linux/linux_process_text_output.md
  custom_documentation/doc/endpoint/process/macos/macos_process_already_running.md
  custom_documentation/doc/endpoint/process/macos/macos_process_fork.md
  custom_documentation/doc/endpoint/process/macos/macos_process_remote_thread.md
  custom_documentation/doc/endpoint/process/windows/windows_process_already_running.md
  custom_documentation/doc/endpoint/process/windows/windows_process_create.md
  custom_documentation/doc/endpoint/process/windows/windows_process_exit.md
  custom_documentation/doc/endpoint/security/windows/windows_security_log_off.md
  custom_documentation/doc/endpoint/security/windows/windows_security_log_on.md
  custom_documentation/src/endpoint/data_stream/alerts/windows/windows_malicious_behavior_alert.yaml
  custom_documentation/src/endpoint/data_stream/alerts/windows/windows_memory_threat_alert.yaml
  custom_documentation/src/endpoint/data_stream/file/linux/linux_file_create.yaml
  custom_documentation/src/endpoint/data_stream/file/linux/linux_file_delete.yaml
  custom_documentation/src/endpoint/data_stream/file/linux/linux_file_rename.yaml
  custom_documentation/src/endpoint/data_stream/file/macos/macos_file_delete.yaml
  custom_documentation/src/endpoint/data_stream/file/macos/macos_file_modification.yaml
  custom_documentation/src/endpoint/data_stream/file/macos/macos_file_rename.yaml
  custom_documentation/src/endpoint/data_stream/file/windows/windows_file_create.yaml
  custom_documentation/src/endpoint/data_stream/file/windows/windows_file_delete.yaml
  custom_documentation/src/endpoint/data_stream/file/windows/windows_file_rename.yaml
  custom_documentation/src/endpoint/data_stream/metrics/metrics.yaml
  custom_documentation/src/endpoint/data_stream/network/linux/linux_network_connection_accepted.yaml
  custom_documentation/src/endpoint/data_stream/network/linux/linux_network_connection_attempt.yaml
  custom_documentation/src/endpoint/data_stream/network/linux/linux_network_disconnect.yaml
  custom_documentation/src/endpoint/data_stream/network/macos/macos_network_connection_attempted.yaml
  custom_documentation/src/endpoint/data_stream/network/macos/macos_network_disconnect_received.yaml
  custom_documentation/src/endpoint/data_stream/process/linux/linux_process_already_running.yaml
  custom_documentation/src/endpoint/data_stream/process/linux/linux_process_text_output.yaml
  custom_documentation/src/endpoint/data_stream/process/macos/macos_process_already_running.yaml
  custom_documentation/src/endpoint/data_stream/process/macos/macos_process_fork.yaml
  custom_documentation/src/endpoint/data_stream/process/macos/macos_process_remote_thread.yaml
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_already_running.yaml
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_create.yaml
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_exit.yaml
  custom_documentation/src/endpoint/data_stream/security/windows/windows_security_log_off.yaml
  custom_documentation/src/endpoint/data_stream/security/windows/windows_security_log_on.yaml
Labels: documentation, v8.14.0

#498 cherry-pick update custom documentation (#497)
  custom_documentation/doc/endpoint/alerts/windows/windows_malicious_behavior_alert.md
  custom_documentation/doc/endpoint/alerts/windows/windows_memory_threat_alert.md
  custom_documentation/doc/endpoint/file/linux/linux_file_create.md
  custom_documentation/doc/endpoint/file/linux/linux_file_delete.md
  custom_documentation/doc/endpoint/file/linux/linux_file_rename.md
  custom_documentation/doc/endpoint/file/macos/macos_file_delete.md
  custom_documentation/doc/endpoint/file/macos/macos_file_modification.md
  custom_documentation/doc/endpoint/file/macos/macos_file_rename.md
  custom_documentation/doc/endpoint/file/windows/windows_file_create.md
  custom_documentation/doc/endpoint/file/windows/windows_file_delete.md
  custom_documentation/doc/endpoint/file/windows/windows_file_rename.md
  custom_documentation/doc/endpoint/metrics/metrics.md
  custom_documentation/doc/endpoint/network/linux/linux_network_connection_accepted.md
  custom_documentation/doc/endpoint/network/linux/linux_network_connection_attempt.md
  custom_documentation/doc/endpoint/network/linux/linux_network_disconnect.md
  custom_documentation/doc/endpoint/network/macos/macos_network_connection_attempted.md
  custom_documentation/doc/endpoint/network/macos/macos_network_disconnect_received.md
  custom_documentation/doc/endpoint/process/linux/linux_process_already_running.md
  custom_documentation/doc/endpoint/process/linux/linux_process_text_output.md
  custom_documentation/doc/endpoint/process/macos/macos_process_already_running.md
  custom_documentation/doc/endpoint/process/macos/macos_process_fork.md
  custom_documentation/doc/endpoint/process/macos/macos_process_remote_thread.md
  custom_documentation/doc/endpoint/process/windows/windows_process_already_running.md
  custom_documentation/doc/endpoint/process/windows/windows_process_create.md
  custom_documentation/doc/endpoint/process/windows/windows_process_exit.md
  custom_documentation/doc/endpoint/security/windows/windows_security_log_off.md
  custom_documentation/doc/endpoint/security/windows/windows_security_log_on.md
  custom_documentation/src/endpoint/data_stream/alerts/windows/windows_malicious_behavior_alert.yaml
  custom_documentation/src/endpoint/data_stream/alerts/windows/windows_memory_threat_alert.yaml
  custom_documentation/src/endpoint/data_stream/file/linux/linux_file_create.yaml
  custom_documentation/src/endpoint/data_stream/file/linux/linux_file_delete.yaml
  custom_documentation/src/endpoint/data_stream/file/linux/linux_file_rename.yaml
  custom_documentation/src/endpoint/data_stream/file/macos/macos_file_delete.yaml
  custom_documentation/src/endpoint/data_stream/file/macos/macos_file_modification.yaml
  custom_documentation/src/endpoint/data_stream/file/macos/macos_file_rename.yaml
  custom_documentation/src/endpoint/data_stream/file/windows/windows_file_create.yaml
  custom_documentation/src/endpoint/data_stream/file/windows/windows_file_delete.yaml
  custom_documentation/src/endpoint/data_stream/file/windows/windows_file_rename.yaml
  custom_documentation/src/endpoint/data_stream/metrics/metrics.yaml
  custom_documentation/src/endpoint/data_stream/network/linux/linux_network_connection_accepted.yaml
  custom_documentation/src/endpoint/data_stream/network/linux/linux_network_connection_attempt.yaml
  custom_documentation/src/endpoint/data_stream/network/linux/linux_network_disconnect.yaml
  custom_documentation/src/endpoint/data_stream/network/macos/macos_network_connection_attempted.yaml
  custom_documentation/src/endpoint/data_stream/network/macos/macos_network_disconnect_received.yaml
  custom_documentation/src/endpoint/data_stream/process/linux/linux_process_already_running.yaml
  custom_documentation/src/endpoint/data_stream/process/linux/linux_process_text_output.yaml
  custom_documentation/src/endpoint/data_stream/process/macos/macos_process_already_running.yaml
  custom_documentation/src/endpoint/data_stream/process/macos/macos_process_fork.yaml
  custom_documentation/src/endpoint/data_stream/process/macos/macos_process_remote_thread.yaml
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_already_running.yaml
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_create.yaml
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_exit.yaml
  custom_documentation/src/endpoint/data_stream/security/windows/windows_security_log_off.yaml
  custom_documentation/src/endpoint/data_stream/security/windows/windows_security_log_on.yaml
Labels: documentation

#499 remove unreleased document fields documentation which were accidental…
  custom_documentation/doc/endpoint/process/windows/windows_process_create.md
  custom_documentation/doc/endpoint/process/windows/windows_process_exit.md
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_create.yaml
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_exit.yaml
Labels: documentation

#500 remove unreleased document fields documentation which were accidental…
  custom_documentation/doc/endpoint/process/windows/windows_process_exit.md
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_exit.yaml
Labels: documentation

#501 remove unreleased document fields documentation which were accidental…
  custom_documentation/doc/endpoint/process/windows/windows_process_exit.md
  custom_documentation/src/endpoint/data_stream/process/windows/windows_process_exit.yaml
Labels: documentation
